* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100% sans-serif;
}

:root {
  --bgColor: #333;
  --bgColorSecondary: #1e1e1e;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: rgba(214, 214, 214, 0.726);
  --error-color: #ff0033;
  --error-extra-color: #ecac6a;
  --text-correct-color: #fcd248;
  --bgGradient: #fbe4d8, #dfb6b2, #854f6c, #522b5b, #2b124c, #190019;
}

body {
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#fbe4d8, #dfb6b2, #854f6c, #522b5b, #2b124c, #190019);
}

#HImage {
  width: 50px;
  position: relative;
  top: 50px;
  left: 75px;
}

.header {
  width: 1313px;
  height: 10px;
  position: relative;
}

#HEAD {
  position: relative;
  left: 75px;
  top: 40px;
  font-size: 4ch;
}

.container {
  width: 500px;
  margin: 10% auto;
  padding: 20px 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.message {
  color: red;
}

.NameS {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 38%;
  top: 30%;
  background-color: white;
  border: #555 solid 0.4ch;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.leaderboard {
  position: absolute;
  left: 15%;
  top: 25%;
  background-color: rgb(168, 67, 0);
  border: #252525 solid 0.4ch;
  text-align: center;
  z-index: 1;
  width: 85%;
  height: 80%;

  visibility: hidden;
}

#LBimg {
  position: relative;
  width: 80%;
  left: -3%;
  top: -17%;
  background-color: rgb(255, 255, 255);
}

#LBRimg {
  position: relative;
  width: 5%;
  left: 90%;
  top: -6%;
  z-index: 2;
}

.LBoption {
  border: #000000 solid 2px;
  height: 10%;
}

#LBtimeOp {
  position: absolute;
  width: 50%;
  left: 0%;
  top: 0%;
}

#LBEndlessOp {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0%;
}

.selectedLBop {
  background-color: rgb(255, 116, 23);
}

td {
  padding: 5px 45px;
  font-weight: lighter;
}
table {
  border-collapse: collapse;
}
.table-container {
  left: -5%;
  top: -3%;
  position: relative;
  display: flex;
}
.table-container .table {
  flex: 1;
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.left-column {
  text-align: left;
}
.right-column {
  text-align: right;
}
#60LBtable {
  overflow: hidden;
}
#30LBtable {
  overflow: hidden;
}
#15LBtable {
  overflow: hidden;
}
#1LBtable {
  overflow: hidden;
}
#tmlb {
  font-size: 27px;
}
.NameS span {
  font-size: 30px;
  position: relative;
  top: 10%;
}

.NameS button {
  position: relative;
  top: 10%;
  background-color: aquamarine;
  width: 148px;
  height: 24px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.summarize {
  color: cornflowerblue;
}

::selection {
  background-color: #555;
  color: white;
}

#loginS {
  color: #e9e9e9;
}

.container #input-container {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.container .typing-text,
.container .non-typing-text {
  font-size: 1.5em;
  color: #4e4e4e2f;
}

.container .non-typing-text {
  top: -1.5rem;
  left: 60%;
  position: relative;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#restart-button {
  border-radius: 8px;
  padding: 5px 10px;
  margin: 20px auto;
  border: 1px solid #aaa;
  background: white;
  width: 100px;
  cursor: pointer;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
}

#restart-button:hover {
  background: linear-gradient(to bottom, cornflowerblue 5%, cornflowerblue 100%);
}

.correct {
  color: #ffc933;
  transition: color 0.1s;
}

.incorrect {
  color: #ff0000;
  border-radius: 4px;
}

#menu {
  display: flex;
  background-color: black;
  border-radius: 20rem;
  width: 30rem;
  padding: 0.5rem 0 0.5rem 0;
  justify-content: center;
  align-items: center;
}

#option {
  display: flex;
  background-color: black;
  border-radius: 20rem;
  width: 30rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 0;
  justify-content: center;
  align-items: center;
}

#option .textButton,
#option .textButton-active {
  color: white;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}

#option .textButton:hover,
#option .textButton-active:hover {
  color: yellowgreen;
  transition: color 0.3s;
}

#option .textButton-active {
  color: orange;
  transition: color 0.3s;
}

#mode-option,
#setting-option {
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  margin: 0 1rem 0 0;
}

#time-option {
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
}

.NameS input {
  position: relative;
  top: 20%;
  height: 10%;
}

.Tutorial {
  background-color: rgb(230, 213, 189);
  position: absolute;
  opacity: 1;
  z-index: 1;
  border-radius: 1%;
  top: 150px;
  visibility: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 600px;
  width: 1100px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.Tutorial::-webkit-scrollbar {
  width: 12px;
}

.Tutorial::-webkit-scrollbar-track {
  background-color: #ad82a0;
  border-radius: 20px;
}

.Tutorial::-webkit-scrollbar-thumb:hover {
  background-color: burlywood;
  border-radius: 6px;
}

.eduTitle {
  color: #9c577c;
}

.eduSubTitle {
  color: #ad82a0;
}

.eduText {
  color: #522b5b;
}

.practice {
  width: 700px;
  padding: 15px;
  background: #b66e6e;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.image-frame {
  border-radius: 3%;
  box-shadow: #000000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s;
}

.NameS input {
  position: relative;
  top: 20%;
  height: 10%;
}

#timegame {
  line-height: 35px;
  height: 115px;
  overflow: hidden;
  position: relative;
}
#endlessgame {
  overflow: hidden;
  position: relative;
}

#timegame:focus,
#endlessgame:focus {
  outline: 0;
}
#endlessgame .words,
#timegame #words {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  font-size: 20px;
  opacity: 0.25;
  color: var(--primaryColor);
  pointer-events: none; /* Make it non-interactive */
  transition: opacity 0.3s;
}
#endlessgame.focused .words,
#endlessgame:focus .words,
#timegame:focus #words {
  filter: blur(0);
  opacity: 1;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  height: -moz-fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  pointer-events: auto; /* Restore interactivity */
}
#endlessgame.focused .focus-error {
  display: none;
}

.focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  z-index: 10;
  display: block;
}
#timegame .focus-error {
  padding-top: 2rem;
}

#endlessgame:focus .focus-error,
#timegame:focus .focus-error {
  display: none;
}

div.word {
  display: inline-block;
  margin: 0 5px;
}

.letter.correct {
  color: var(--text-correct-color);
}

.letter.incorrect {
  color: var(--error-color);
}

.letter.incorrect.extra {
  color: var(--error-extra-color);
}

.word.incorrect {
  text-decoration: underline;
  text-decoration-color: var(--error-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#endless-cursor,
#cursor {
  visibility: hidden;
  width: 0.1rem;
  height: 1.2rem;
  border-radius: 10px;
  background: var(--primaryColor);
  position: fixed;
  top: 0px;
  left: 0px;
  animation: blink 1.1s infinite;
}
#endlessgame.focused #endless-cursor,
#endlessgame:focus #endless-cursor,
#timegame:focus #cursor {
  visibility: visible;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
