@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#FBE4D8, #DFB6B2, #854F6C, #522B5B, #2B124C, #190019);
}
#header .menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    top: 100px;
    left: 100px;
}
.menu li{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
    color: #C38EB4;
    position: relative;
}
.menu li:first-child p {
    font-size: 50px;
}
.menu li:not(:first-child) {
    padding-left: 22px;
}
.menu li:not(:first-child) p button{
    padding-top: 8px;
    outline: none;
    border: none;
    color: #C38EB4;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    background: none;
    transition: transform 0.2s ease;
}
.menu li:not(:first-child) p button:active {
    transform: scale(0.8);
}
.menu li:not(:first-child) p button:hover {
    color: #fff;
}
#paragraph{
    color: #646669;
}
.result-details{
    color: #FFFFFF;
}
::selection {
    color: #FFFFFF;
    background: #007acc;
}
.wrapper {
    width: 700px;
    padding: 35px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: #d1d0c5;
}
.typing-text p span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}
/* .typing-text p span.active {
    color: #17A2B8;
} */
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #FFFFFF;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #FFFFFF;
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #FFFFFF;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #FFFFFF;
    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #FFFFFF;
    color: #000000;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}

#option .textButton-active {
  color: orange;
  transition: color 0.3s;
}

#mode-option,
#setting-option {
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  margin: 0 1rem 0 0;
}

/* #setting-option span{
    
} */

#time-option {
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
}

.NameS input {
  position: relative;
  top: 20%;
  height: 10%;
}


.bounce {
  animation: bounce 0.5s ease-in-out;
  transform-origin: center center;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1);
  }
  100%{
    transform: scale(0.83);
  }
}

.Tutorial {
  background-color: rgb(230, 213, 189);
  position: absolute;
  opacity: 1;
  z-index: 1;
  border-radius: 1%;
  top: 150px;
  visibility: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 600px;
  width: 1100px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.active {
  visibility: visible;
}

.Tutorial::-webkit-scrollbar {
  width: 12px;
}

#Tutorial::-webkit-scrollbar-track {
    background-color: #ad82a0;
    border-radius: 20px;
}

#Tutorial::-webkit-scrollbar-thumb:hover {
    background-color: burlywood;
    border-radius: 6px;
}

.close-tutorial {
  box-sizing: 200%;
  border-radius: 10%;
  position: fixed;
  top: 10px;
  right: 10px; 
  width: 50px;
  font-weight: bold;
  color: #efe378;
  background-color: #7c11ce;
  font-size: large;
}

.close-tutorial:hover{
  background-color: #4e4e4e2f;
  animation: ;
  animation-duration: infinite;
}

.eduTitle {
  color: #9c577c;
  font-size: 45px;
}
.eduSubTitle{
    color: #ad82a0;
}
.eduText{
    color:#522B5B
}

.practice{
    width: 700px;
    padding: 15px;
    background: #b66e6e;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.image-frame{
    border-radius: 3%;
    box-shadow: #000000;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    animation:;
}

#eduCloseBtn {
  position: flex;
  padding-right: 10%;
  transform: scale(500%);
}