.body {
    display: flex;
    background: linear-gradient(180deg, rgb(76, 26, 196) 0%, rgb(56, 170, 228) 45.31%);
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
    min-width: 760px;
    overflow: hidden;
}

.body .overlap-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    min-width: 760px;
    position: relative;
}

.body .overlap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 760px;
    position: relative;
    overflow: hidden;
}

.body .union {
    height: 630px;
    top: 292px;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100vw;
    min-width: 760px;
}

.body .union-1 {
    height: 768px;
    top: 154px;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100vw;
    min-width: 760px;
}

.body .union-2 {
    height: 864px;
    top: 58px;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100vw;
    min-width: 760px;
}

.body .union-3 {
    height: 662px;
    position: absolute;
    width: 1920px;
    bottom: 0;
}

.body .div-contentwrapper {
    position: relative;
    width: 65vw;
    height: 100vh;
    top: 0;
    min-width: 500px;
}

.body .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 785px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    min-width: 500px;
}

.body .div-testconfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 207.94px 16px 207.92px;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: auto;
}

.body .option {
    position: relative;
    width: 390px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #00000080;
}

.body .div-mode {
    display: inline-flex;
    align-items: flex-start;
    padding: 0px 0px 1.58px;
    position: absolute;
    top: 1px;
    left: 1px;
    /* justify-content: center; */
    /* grid-auto-flow: column; */
    margin: 0 1rem 0 0;
}

.body .div-textbutton {
    gap: 6.01px;
    padding: 12px 8px 11.2px 16px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .symbol {
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #e2b714;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}
.body .div {
    gap: 5.61px;
    padding: 12px 7.41px 11.2px 8px;
    margin-left: -0.2px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .symbol-wrapper {
    display: flex;
    width: 15px;
    padding: 0px 1.9px 0px 2.1px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .symbol-2 {
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #646669;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .div-textbutton-2 {
    gap: 5.9px;
    padding: 12px 8px 11.2px;
    margin-left: -0.2px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}
.body .time-option {
    position: absolute;
    width: 178px;
    height: 40px;
    top: 1px;
    left: 212px;
}

.body .div-time {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: -1px;
    left: 20px;
}

.body .div-spacer-margin {
    display: flex;
    flex-direction: column;
    width: 2px;
    align-items: flex-start;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.body .div-spacer {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 23.78px;
    background-color: #646669;
    border-radius: 4px;
}

.body .mode-option {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 2px;
}

.body .text-time {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .text-wrapper-3 {
    color: #646669;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.body .div-textbutton-4 {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    padding: 12px 7.6px 8.38px 7.81px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .text-wrapper-4 {
    color: #e2b714;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.body .div-textbutton-5 {
    padding: 12px 8px 8.38px;
    align-self: stretch;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .div-textbutton-6 {
    padding: 13.6px 17.4px 11.18px 9.6px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .container {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 0px 20px #00000080;
    min-width: 500px;
    overflow: hidden;
}

.body .restart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.body .button-restart-test {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.body .symbol-3 {
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #646669;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .div-wordswrapper {
    position: relative;
    width: 100%;
    height: 105px;
}

.body .uppercontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 36px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-direction: row;
    gap: 12px;
    padding: 8px;
}

.body .i-fas-margin {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 7.65px 0px 0px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.body .i-fas-2 {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    color: #646669;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.body .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 70px;
    background-color: transparent;
}

.body .link-margin {
    position: relative;
    width: 187px;
    height: 36px;
}

.body .link {
    width: 195px;
    align-items: flex-start;
    gap: 8px;
    padding: 5.6px 4px;
    top: -3px;
    left: -4px;
    display: flex;
    position: relative;
}

.body .div-icon {
    position: relative;
    width: 40px;
    height: 30px;
    object-fit: cover;
}

.body .heading-margin {
    position: relative;
    align-self: stretch;
    width: 192.52px;
    margin-right: -54px;
}

.body .heading {
    display: flex;
    flex-direction: column;
    width: 193px;
    align-items: flex-start;
    position: relative;
    top: -4px;
}

.body .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Lexend Deca', Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
}

.body .nav {
    display: flex;
    width: 212px;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.body .div-icon-wrapper {
    width: 36px;
    align-items: baseline;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    position: relative;
}

.body .i-fas-wrapper {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.body .i-fas-3 {
    display: flex;
    height: 20px;
    padding: 0px 0.9px 0px 1.1px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .symbol-99 {
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .symbol-4 {
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .button {
    padding: 8px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    all: unset;
    box-sizing: border-box;
}

.body .i-fas-4 {
    display: flex;
    height: 20px;
    padding: 0px 0px 0px 0.2px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .symbol-5 {
    margin-left: -0.1px;
    margin-right: -0.1px;
    font-family: 'Font Awesome 5 Free-Solid', Helvetica;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .i-fas-5 {
    display: flex;
    height: 20px;
    padding: 0px 6.9px 0px 7.1px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .link-2 {
    width: 36px;
    height: 36px;
    align-items: baseline;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    position: relative;
}

.body .i-fas-6 {
    display: flex;
    height: 20px;
    padding: 0px 1.9px 0px 2.1px;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body .symbol-6 {
    font-family: 'Font Awesome 5 Free-Regular', Helvetica;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.body .div-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1caff;
    min-width: 760px;
}

.body .div-container {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.body .div-text-margin {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 0px;
}

.body .text-mode {
    display: flex;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    color: #646669;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
    transition: color 0.3s;
}

.body .made-with-love-by {
    position: relative;
    width: fit-content;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    color: #323437;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.body .text-time {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', Helvetica;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
    transition: color 0.3s;
}

.textButton,
.option .textButton-active {
    padding: 0.8rem 0.5rem;
}
.option .textButton-active {
    color: #e2b714;
    transition: color 0.3s;
}

.option .textButton:hover,
.option .text-wrapper:hover,
.option .textButton-active:hover {
    color: #ffd000;
    transition: color 0.3s;
}

.container #input-container {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.container .typing-text,
.container .non-typing-text {
    font-size: 1.5em;
    color: #aaaeb3;
}
.container .typing-text{
    position: relative;
    left: 20%;
}

.container .non-typing-text {
    top: -1.5rem;
    left: 60%;
    position: relative;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.correct {
    color: #323437;
}

.incorrect {
    color: #da3333;
}

.letter.incorrect.extra {
    color: #791717;
}

.word.incorrect {
    text-decoration: underline;
    text-decoration-color: #da3333;
}

#timegame {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
    padding: 0 10px;
}
#endlessgame {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:50%;
}

#timegame:focus,
#endlessgame:focus {
    outline: 0;
}
#endlessgame .words,
#timegame #words {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    font-size: 1.4rem;
    opacity: 0.25;
    color: #aaaeb3;
    pointer-events: none; /* Make it non-interactive */
    transition: opacity 0.3s;
    font-family: 'Roboto Mono', monospace;
    /* make text show following row */
}
#endlessgame.focused .words,
#endlessgame:focus .words,
#timegame:focus #words {
    filter: blur(0);
    opacity: 1;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    pointer-events: auto; /* Restore interactivity */
}
#endlessgame.focused .focus-error {
    display: none;
}
.word {
    display: inline-block;
    margin: 0 5px;
}
.focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    z-index: 1;
    display: block;
}
#timegame .focus-error {
    padding-top: 2rem;
}

#endlessgame:focus .focus-error,
#timegame:focus .focus-error {
    display: none;
}

#endless-cursor,
#cursor {
    visibility: hidden;
    width: 0.1rem;
    height: 1.2rem;
    border-radius: 10px;
    background: #e2b714;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: blink 1.1s infinite;
}
#endlessgame.focused #endless-cursor,
#endlessgame:focus #endless-cursor,
#timegame:focus #cursor {
    visibility: visible;
}
.result {
    display: flex;
    flex-direction: row;
}
#restart-button {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 auto;
    border: 1px solid #aaa;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
}

#restart-button:hover {
    background: linear-gradient(to bottom, cornflowerblue 5%, cornflowerblue 100%);
}

.NameS {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    background-color: white;
    border: #555 solid 0.4ch;
    text-align: center;
    z-index: 2;
    visibility: hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.NameS span {
    font-size: 30px;
    position: relative;
    top: 10%;
}

.NameS button {
    position: relative;
    top: 10%;
    background-color: aquamarine;
    width: 148px;
    height: 24px;
}

.NameS input {
    position: relative;
    top: 20%;
    height: 10%;
}

#loginS {
    color: #e9e9e9;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.leaderboard {
    position: absolute;
    background-color: rgb(202 255 183 / 91%);
    border: #252525 solid 0.4ch;
    text-align: center;
    z-index: 1;
    width: 80%;
    height: 80%;
    margin: auto;
    visibility: hidden;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
}

/* .leaderboard-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  } */

#LBimg {
    position: relative;
    height: 10%;
    width: 80%;
    top: -15%;
    max-width: 760px;
}

#LBRimg {
    position: absolute;
    width: 52px;
    /* move to top right */
    top: -20px;
    right: -20px;
    z-index: 2;
}

.LBoption {
    border: #000000 solid 2px;
    height: 10%;
    color: black;
    background-color: #dcfbfb;
}

#LBtimeOp {
    position: absolute;
    width: 50%;
    left: 0%;
    top: 0%;
}

#LBEndlessOp {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0%;
}

.selectedLBop {
    background-color: rgb(171 253 218);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb{
    background: rgb(142, 255, 255);
    border-radius: 5px;
}
td {
    padding: 5px 10px;
    font-weight: lighter;
}
.nametd{
    padding: 5px 51px;
}
table {
    border-collapse: collapse;
}

.table-container {
    top: 5%;
    left: -6%;
    position: relative;
    display: flex;
}

.table-container .LBtable {
    position: relative;
    flex: 1;
    margin: 10px;
    height: 180px;
    overflow-y: auto;
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: right;
}

#60LBtable,
#30LBtable,
#15LBtable,
#1LBtable {
    overflow: hidden;
}

#tmlb {
    font-size: 27px;
    position: relative;
}
.table-container #tmlb {
    position: relative;
    top: -20px;
    left: 24%;
}
table,
th,
td {
    border-bottom: groove;
    background-color: rgb(192 255 228);
    border-bottom-color: #3effe95e;
}

/*********************TUTORIAL****************************/
.debounce {
    animation: debounce 0.5s ease-in-out;
    transform-origin: center center;
    animation-fill-mode: forwards;
}
/* .Tutorial {
    background-color: rgb(230, 213, 189);
    position: absolute;
    opacity: 1;
    z-index: 3;
    border-radius: 1%;
    top: 150px;
    visibility: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 600px;
    width: 1100px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
} */
.Tutorial {
    background-color: rgb(230, 213, 189);
    position: fixed;
    opacity: 1;
    z-index: 1;
    border-radius: 1%;
    top: 150px;
    visibility: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 80vw;
    min-width: 800px;
    text-align: center;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    overflow: auto;
    overflow-x: hidden;
}

.Tutorial::-webkit-scrollbar {
    width: 12px;
}

.Tutorial::-webkit-scrollbar-track {
    background-color: #ad82a0;
    border-radius: 20px;
}

.Tutorial::-webkit-scrollbar-thumb:hover {
    background-color: burlywood;
    border-radius: 6px;
}

.close-tutorial {
    box-sizing: 200%;
    border-radius: 10%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 7rem;
    font-weight: bold;
    color: #efe378;
    background-color: #7c11ce;
    font-size: large;
}

.close-tutorial:hover {
    background-color: #4e4e4e2f;
    animation-duration: infinite;
}

.eduTitle {
    color: #9c577c;
    font-size: 45px;
}
.eduSubTitle {
    color: #ad82a0;
}
.eduText {
    margin: 20px 0 0 0;
    color: #522b5b;
}

.image-frame {
    border-radius: 3%;
    box-shadow: #000000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#eduCloseBtn {
    position: flex;
    padding-right: 10%;
    transform: scale(500%);
}

button {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
} /*reuseable*/

.Hword.incorrect_homerow,
.Tword.incorrect_toprow,
.Bword.incorrect_botrow {
    text-decoration: underline;
    text-decoration-color: var(--error-color);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*reusable*/

#homeRow-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
    top: 10%;
}

#homeRow-btn {
    text-align: right;
}

#hInfo {
    color: #efe378;
    visibility: hidden;
}

.practice-homeRow {
    max-width: 700px;
    padding: 35px;
    background: blueviolet;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    margin: auto;
}

div#homeRow-game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#homeRow-game:focus {
    outline: 0;
}

#hChar {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.25;
    color: #efe378;
}

#homeRow-game:focus #hChar {
    filter: blur(0);
    opacity: 1;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
}

#homeRow-focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#homeRow-game:focus #homeRow-focus-error {
    display: none;
}

#homeRow-game:focus #homeRow-cursor {
    display: block;
}

#homeRow-game.over #hChar {
    opacity: 0.5;
    filter: blur(0px);
}

#homeRow-game.over:focus #homeRow-cursor {
    display: none;
}

#homeRow-game.over #homeRow-focus-error {
    display: none;
}

#homeRow-try-again {
    color: #efe378;
    background-color: #7c11ce;
    position: fixed;
    left: 13rem;
}

#homeRow-cursor {
    display: none;
    width: 2px;
    height: 1.5rem;
    border-radius: 10px;
    background: var(--primaryColor);
    position: fixed;
    top: 0px;
    left: 0px;
    animation: blink 1.1s infinite;
}

#topRow-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
    top: 10%;
}

#topRow-btn {
    text-align: right;
}

#tInfo {
    color: #efe378;
    visibility: hidden;
}

.practice-topRow {
    max-width: 700px;
    padding: 35px;
    background: blueviolet;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    margin: auto;
}

div#topRow-game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#topRow-game:focus {
    outline: 0;
}

#tChar {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.25;
    color: #efe378;
}

#topRow-game:focus #tChar {
    filter: blur(0);
    opacity: 1;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
}

#topRow-focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#topRow-game:focus #topRow-focus-error {
    display: none;
}

#topRow-game:focus #topRow-cursor {
    display: block;
}

#topRow-game.over #tChar {
    opacity: 0.5;
    filter: blur(0px);
}

#topRow-game.over:focus #topRow-cursor {
    display: none;
}

#topRow-game.over #topRow-focus-error {
    display: none;
}

#topRow-try-again {
    color: #efe378;
    background-color: #7c11ce;
    position: fixed;
    left: 13rem;
}

#topRow-cursor {
    display: none;
    width: 2px;
    height: 1.5rem;
    border-radius: 10px;
    background: var(--primaryColor);
    position: fixed;
    top: 0px;
    left: 0px;
    animation: blink 1.1s infinite;
}

.Hletter.correct-homeRow,
.Tletter.correct-topRow,
.Bletter.correct-botRow {
    color: #32ff27;
}

.Hletter.incorrect-homeRow,
.Tletter.incorrect-topRow,
.Bletter.incorrect-botRow {
    color: red;
}

.Hletter.incorrect-homeRow.extra,
.Tletter.incorrect-topRow.extra,
.Bletter.incorrect-botRow.extra {
    color: #fbe4d8;
}

div.Hword,
div.Bword,
div.Tword {
    display: inline-block;
    margin: 0 5px;
}

#botRow-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
    top: 10%;
}

#botRow-btn {
    text-align: right;
}

#tInfo {
    color: #efe378;
    visibility: hidden;
}

.practice-botRow {
    max-width: 700px;
    padding: 35px;

    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    margin: auto;
}
.practice-botRow,
.practice-homeRow,
.practice-topRow {
    background: rgb(177, 114, 236);
}

div#botRow-game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#botRow-game:focus {
    outline: 0;
}

#bChar {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.25;
    color: #efe378;
}

#botRow-game:focus #bChar {
    filter: blur(0);
    opacity: 1;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
}

#botRow-focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#botRow-game:focus #botRow-focus-error {
    display: none;
}

#botRow-game:focus #botRow-cursor {
    display: block;
}

#botRow-game.over #bChar {
    opacity: 0.5;
    filter: blur(0px);
}

#botRow-game.over:focus #botRow-cursor {
    display: none;
}

#botRow-game.over #botRow-focus-error {
    display: none;
}

#botRow-try-again {
    color: #efe378;
    background-color: #7c11ce;
    position: fixed;
    left: 13rem;
}

#botRow-cursor {
    display: none;
    width: 2px;
    height: 1.5rem;
    border-radius: 10px;
    background: var(--primaryColor);
    position: fixed;
    top: 0px;
    left: 0px;
    animation: blink 1.1s infinite;
}
/**********************End TUTORIAL ********************/

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
